﻿/*
  J-Tech Company KE Website (http://www.j-tech.tech)
 =====================================
    @Author: Jackson A. Chegenye <jtechinfo3@gmail.com>
    @copyright   (c) J-Tech Company KE
    @Template: jtech
    @Version: 0.1
    @Last Edited: 03/May/2016
======================================
*/

/* =============================================================
GOOGLE FONT
============================================================ */

@import 'https://fonts.googleapis.com/css?family=Text+Me+One|Rock+Salt|Amatica+SC|Cormorant+Infant|Cormorant+Unicase|Dancing+Script|Indie+Flower|Poiret+One|Satisfy|Special+Elite|Tangerine|Tillana';

/* =============================================================
GENERAL STYLES
============================================================ */
body {
	font-family: 'Text Me One';
	color: #fff;
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pad-bottom {
padding-bottom: 30px;
}

.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid #A74F15;
}

/*#video #gallery #contact*/ h3 {
	font-family: Satisfy;
    text-transform: none;
    color: #A74F15;
}


/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
	background-color: transparent;
	color: #fff;
    background: rgba(167, 79, 21, 0.16);
    border-radius: 50%;
}

.btn-custom-one:hover {
	background-color: #a74f15;
	text-decoration: none;
	color: #fff;
    border-radius: 50%;
}

.btn-custom-two {
color: #fff;
background-color: #A74F15;
border: 2px solid #A74F15;
}

.btn-custom-two:hover {
border: 2px solid #A74F15;
text-decoration: none;
color: #fff;
background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color:transparent;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.35);
}
.dropdown-menu > li > a{
	color: #A74F15;
}
.dropdown-menu > li > a:hover{
	background-color:rgba(167, 79, 21, 0.11);
	color:#fff;
}


.navbar-inverse {
background-color: rgba(0, 0, 0, 0.4);
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 1px solid #A74F15;
}

.navbar-inverse .navbar-nav > li > a {
font-size: 12px;
font-weight: 800;
padding: 5px 0px;
letter-spacing: 2px;
margin: 10px 20px 10px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-weight: 900;
font-family: 'Oswald', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #A74F15;
}
.navbar-inverse .navbar-toggle {
border-color: #A74F15;
}


/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
padding-top: 120px;
padding-bottom: 60px;
}
#home b{
	color: #a74f15;
}

#home h1{
	letter-spacing: 15px;
	font-size: 80px;
	color: #a74f15;
}
#home h3{
	letter-spacing: 5px;
	font-size: 40px;
}
#home h5{
	letter-spacing: 2px;
	font-size: 15px;
	font-weight:100;
	line-height: 30px;
}
.line-under{
	margin:20px 0px;
	border-bottom:1px solid #a74f15;
	width: 224px;
    opacity: 0.5;
}
/*Carousel Slider*/

#carousel-slider {
	padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
	line-height: 50px;
	font-family: 'Oswald', sans-serif;
}

#carousel-slider p {
	color: #A74F15;
	font-size: 16px;
	line-height: 25px;
	margin: 25px 20px;
}

/* =============================================================
SERVICES SECTION STYLES
============================================================ */

#video .video-wrapper {
padding: 3px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.07);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

#video .video-wrapper:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

#video .video-wrapper i {
	margin: 5px;
	color: #A74F15;
	font-size: 60px;
}
.line-under-header{
    border-bottom: 1px solid #fff;
    /* margin: 20px 0px; */
    width: 25px;
    opacity: 0.5;
}

/*============================
PRICING SECTION STYLES
==============================*/

.light-pricing {
margin-bottom: 30px;
margin-top: 50px;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
background-color: rgba(255, 255, 255, 0.1);
color: #fff;
line-height: 30px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.light-pricing:hover {
background-color: transparent;
}

.light-pricing ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px;
}

.light-pricing ul li {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.light-pricing ul li i {
margin-right: 5px;
}


.light-pricing .price {
padding: 40px 20px 20px 20px;
font-size: 60px;
font-weight: 900;
}

.light-pricing .price small {
color: #000;
display: block;
font-size: 15px;
margin-top: 22px;
}

.light-pricing .type {
background-color: rgba(0, 0, 0, 0.40);
padding: 30px 20px;
font-weight: 900;
text-transform: uppercase;
font-size: 30px;
color: #A74F15;
}

.light-pricing .pricing-footer {
padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
padding-left: 0;
padding-right: 0;
}

.light-pricing.popular {
margin-top: 10px;
}

.light-pricing.popular .price {
padding-top: 80px;
}


/*============================
WORK SECTION STYLES
==============================*/

#gallery .caegories a.active {
background-color: transparent;
color: #fff;
}

.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
transition-duration: 0.8s;
}

#gallery .gallery-wrapper {
padding: 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.1);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid #A74F15;

}

#gallery .gallery-wrapper:hover {
background-color: transparent;
border: 1px solid #A74F15;

opacity: .80; /* standard: ff gt 1.5, opera, safari */
-ms-filter: "alpha(opacity=80)"; /* ie 8 */
filter: alpha(opacity=80); /* ie lt 7 */
-khtml-opacity: .80; /* safari 1.x */
-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#gallery .gallery-wrapper h4 {
padding-top: 10px;
}

#gallery .img-rounded{
	height: 200px;
    width: 100%;
}

/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:30px;
}
.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
padding: 150px 0 10px;
/*background-image: url('../img/girl-big.jpg');*/
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
color: #A74F15;
width: 80px;
height: 80px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: #A74F15;
z-index: 999;
font-size: 40px;
padding: 15px 22px;
background-color: #fff;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
color: #fff;
text-decoration: none;
background-color: #A74F15;
}


.team-wrapper .description {
padding: 30px 20px 20px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

.team-wrapper .description h5 {
color: #A74F15;
}



/*============================
CONTACT SECTION STYLES
==============================*/

#contact .contact-wrapper {
background-color:rgba(255, 255, 255, 0.1);
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
min-height:200px;
}
#contact .contact-wrapper h3 {
color:#A74F15;
}
#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
/*padding-top:25px;*/
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}

.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px; 
	height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}
.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}
.vid-item {
	display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	height: 84px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}
.arrows {
	position:relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -130px;
	z-index: 99;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -130px;
	z-index:100;
	cursor: pointer;
}

/*Center alert box*/
.alert-box {
  	position:fixed; 
  	z-index:999;
  	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%);
}